// 参考: http://qiita.com/mysticatea/items/f523dab04a25f617c87d
// es2015 + それなりに新しい文法を強制するような感じ
{
    "extends": [
        "standard",
        "plugin:ava/recommended",
        "plugin:vue/recommended"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
    },
    "plugins": [
        "ava"
    ],
    "parserOptions": {
      "ecmaVersion": 2017,
      "sourceType": "module",
      "ecmaFeatures": {
      }
    },
    "rules": {
      "comma-dangle": ["error", "always-multiline"],
      "no-unused-vars": ["error", { "varsIgnorePattern": "^_" }],

      "vue/max-attributes-per-line": [0]
    }
}
